.content{
    width: 200px;
    position: relative;
}

.searchBox{
    position: absolute;
}

.searchResults{
    border: 1px solid black;
    width: 124px;
    display: block;
    margin-top: 37px;
}

.cancelText{
    position: absolute;
    color: #7C7979;
    cursor: pointer;
    right: 43px;
    z-index: 100;
}

#list{
    display:none;
}
